# Node modules
node_modules/

# Build output
build/
dist/

# Logs
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# misc
.DS_Store
*.swp
